html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*nav*/
nav.navbar.navbar-default {
    margin-bottom: 0;
}

ul {
    font-size: 14px;
    background: white;
}

.typeLabel{
    padding: 5px;
    font-size: 16px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

li:hover {
    background-color: #e5e5e5;
}

.search-input {
    width: auto;
}


/*map*/
#map {
    height: 100%;
    position: fixed;
}

.glyphicon {
    padding: 5px;
}

/*overlay*/
#overlay {
    display: none;
    z-index: 2;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

#specialBox {
    display: none;
    position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    padding: 10px 5px;
    width: 250px;
    height: auto;
    background: #FFF;
    color: #000;
}

#wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    padding-left:24px;
}