html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*nav*/
nav.navbar.navbar-default {
    margin-bottom: 0;
}

ul {
    font-size: 14px;
    background: white;
}

.typeLabel{
    padding: 5px;
    font-size: 16px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

li:hover {
    background-color: #e5e5e5;
}

.search-input {
    width: auto;
}


/*map*/
#map {
    height: 100%;
    position: fixed;
}

.glyphicon {
    padding: 5px;
}